{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h2>Login</h2>
    <form class="d-grid gap-2 col-6 mx-auto" action="/login" method="POST">
        <div class="col-md-6 mx-auto">
            <input type="email" class="form-control" name="email" placeholder="E-mail">
        </div>
        <div class="col-md-6 mx-auto">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary col-md-6 mx-auto">
            Login
        </button>
        <span>or</span>
        <a href="/register" class="btn btn-secondary col-md-6 mx-auto">
            Register
        </a>
    </form>
{% endblock %}